@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#dropdown-menu-y .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-y .nav .link,
#dropdown-menu-y .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-y .navbar,
#dropdown-menu-y .dropdown-menu {
  background: #000000;
}
#dropdown-menu-y .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-y .dropdown-menu a:hover,
#dropdown-menu-y .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-y .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-y .btn {
  font-family: 'Roboto', sans-serif;
}
#msg-box3-1d .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1d .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1i .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1i .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box4-1e .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1e .mbr-article {
  color: #ffffff;
}
#msg-box2-22 .mbr-header .mbr-header__text {
  color: #ffffff;
}
#msg-box2-22 .mbr-article {
  color: #252525;
}
#msg-box3-11 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-11 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#features1-12 P {
  text-align: center;
}
#msg-box3-1f .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1f .mbr-header .mbr-header__subtext {
  text-align: center;
}

#dropdown-menu-23 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-23 .nav .link,
#dropdown-menu-23 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-23 .navbar,
#dropdown-menu-23 .dropdown-menu {
  background: #000000;
}
#dropdown-menu-23 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-23 .dropdown-menu a:hover,
#dropdown-menu-23 .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-23 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-23 .btn {
  font-family: 'Roboto', sans-serif;
}
#msg-box3-2g .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2g .mbr-header .mbr-header__subtext {
  text-align: center;
}
#features1-2h P {
  text-align: center;
}
#msg-box3-25 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-25 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-27 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-27 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box2-2a .mbr-header .mbr-header__text {
  color: #ffffff;
}
#msg-box2-2a .mbr-article {
  color: #252525;
}
#msg-box3-2b .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#features1-2c P {
  text-align: center;
}
#msg-box3-2d .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2d .mbr-header .mbr-header__subtext {
  text-align: center;
}

#dropdown-menu-1k .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1k .nav .link,
#dropdown-menu-1k .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1k .navbar,
#dropdown-menu-1k .dropdown-menu {
  background: #000000;
}
#dropdown-menu-1k .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1k .dropdown-menu a:hover,
#dropdown-menu-1k .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-1k .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1k .btn {
  font-family: 'Roboto', sans-serif;
}
#msg-box4-1x .mbr-header__text {
  color: #ffffff;
  font-size: 25px;
}
#msg-box4-1x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1x .mbr-article {
  color: #ffffff;
}

#dropdown-menu-1z .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1z .nav .link,
#dropdown-menu-1z .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-1z .navbar,
#dropdown-menu-1z .dropdown-menu {
  background: #000000;
}
#dropdown-menu-1z .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1z .dropdown-menu a:hover,
#dropdown-menu-1z .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-1z .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-1z .btn {
  font-family: 'Roboto', sans-serif;
}
#msg-box4-20 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-20 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-20 .mbr-article {
  color: #ffffff;
}

#dropdown-menu-9 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-9 .nav .link,
#dropdown-menu-9 .dropdown-item {
  font-size: 1em;
  color: #ffffff;
}
#dropdown-menu-9 .navbar,
#dropdown-menu-9 .dropdown-menu {
  background: #000000;
}
#dropdown-menu-9 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-9 .dropdown-menu a:hover,
#dropdown-menu-9 .dropdown-menu a:focus {
  background: #000000;
}
#dropdown-menu-9 .navbar-toggler {
  color: #ffffff;
}
#dropdown-menu-9 .btn {
  font-family: 'Roboto', sans-serif;
}
#msg-box3-n .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#features1-h P {
  text-align: center;
}
#msg-box4-s .mbr-header__text {
  color: #ffffff;
}
#msg-box4-s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-s .mbr-article {
  color: #ffffff;
}
#testimonials1-f .mbr-section__header {
  color: #ffffff;
  text-align: center;
}
#testimonials1-f .mbr-reviews__author-name {
  color: #ffffff;
}
#testimonials1-f .mbr-reviews__author-bio {
  color: #ffffff;
}
